.value-container{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height:18px;
    
    background-color: red;
    padding-left:6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.value-container-text{
    font-size: 10px;
    color:white;
    font-weight: 600;
}